{% load staticfiles %}
<html>
    <head>
        <title>Pascal Optimus</title>
        <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/cosmo.bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
    </head>
    <body style="position:relative;">
        <div class="container" style="overflow:hidden;height:100%;">
            <div class="jumbotron">
                <h1>404 - Pill not found <i class="fa fa-ambulance ambulance"></i></h1>
                <p><a href="/" class="animated hinge btn btn-success btn-lg" style="">Retourner en lieu sûr</a></p>
            </div>
        </div>
    </body>
</html>
