{% load staticfiles %}
<html>
    <head>
        <title>Pascal Optimus</title>
        <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/cosmo.bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="{% static 'semantic-ui/semantic.css' %}">
        <script src="{% static 'js/jquery.min.js' %}"></script>
        <script src="{% static 'semantic-ui/semantic.min.js' %}"></script>
    </head>
    <body>
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button class="navbar-toggle collapsed" aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" type="button">
                        <span class="sr-only">
                            Navigation
                        </span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">
                        Pascal Optimus
                    </a>
                    <ul class="nav navbar-nav">
                        <li><a href="/generate/">Générer</a></li>
                        <li><a href="/top/">Top</a></li>
                        <li><a href="/compose/">Fabriquer</a></li>
                        <li><a href="/suggest/">Suggérer</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div id="page">
            <div class="col-md-2">

            </div>
            <div class="col-md-7">
                <div class="col-md-3">

                </div>
                <div class="col-md-6">
                    <div class="page-header">
                      <h1>Fabrication <small>Compose ton médicament</small></h1>
                    </div>
                    <form class="ui large-form">
                        <div class="ui stacked-segment">
                            <div class="field">
                                <div class="ui fluid search selection dropdown pre-dropdown">
                                    <input name="prefixe" type="hidden">
                                    <i class="dropdown icon"></i>
                                    <div class="default text">Choix préfixe</div>
                                    <div class="menu">
                                    {% for pre in prefixes %}
                                        <div class="item" data-value="{{ pre.texte_composant }}">{{ pre.texte_composant }}</div>
                                    {% endfor %}
                                    </div>
                                </div>
                            </div>

                            <div class="field">
                                <div class="ui fluid search selection dropdown com1-dropdown">
                                    <input name="com1" type="hidden">
                                    <i class="dropdown icon"></i>
                                    <div class="default text">Choix composant</div>
                                    <div class="menu">
                                    <div class="item" data-value="none">
                                        Aucun
                                    </div>
                                    {% for com in compos %}
                                        <div class="item" data-value="{{ com.texte_composant }}">{{ com.texte_composant }}</div>
                                    {% endfor %}
                                    </div>
                                </div>
                            </div>

                            <div class="field">
                                <div class="ui fluid search selection dropdown com2-dropdown">
                                    <input name="com2" type="hidden">
                                    <i class="dropdown icon"></i>
                                    <div class="default text">Choix composant</div>
                                    <div class="menu">
                                    <div class="item" data-value="none">
                                        Aucun
                                    </div>
                                    {% for com in compos %}
                                        <div class="item" data-value="{{ com.texte_composant }}">{{ com.texte_composant }}</div>
                                    {% endfor %}
                                    </div>
                                </div>
                            </div>

                            <div class="field">
                                <div class="ui fluid search selection dropdown com3-dropdown">
                                    <input name="com3" type="hidden">
                                    <i class="dropdown icon"></i>
                                    <div class="default text">Choix composant</div>
                                    <div class="menu">
                                    <div class="item" data-value="none">
                                        Aucun
                                    </div>
                                    {% for com in compos %}
                                        <div class="item" data-value="{{ com.texte_composant }}">{{ com.texte_composant }}</div>
                                    {% endfor %}
                                    </div>
                                </div>
                            </div>

                            <div class="field">
                                <div class="ui fluid search selection dropdown suf-dropdown">
                                    <input name="suffixe" type="hidden">
                                    <i class="dropdown icon"></i>
                                    <div class="default text">Choix suffixe</div>
                                    <div class="menu">
                                    {% for suf in suffixes %}
                                        <div class="item" data-value="{{ suf.texte_composant }}">{{ suf.texte_composant }}</div>
                                    {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </form>
                        <a href='#' id="link-fab" class="btn-fabrique btn pull-right basic orange ui right labeled icon button">
                          <i class="right arrow icon"></i>
                          Fabriquer
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="header">
                    <h1 id="medicament"></h1>
                </div>
            </div>

            <script type="text/javascript" charset="utf-8">
                $(document).ready(function (){
                    // Reset form
                    $('.pre-dropdown').dropdown('clear');
                    $('.com1-dropdown').dropdown('clear');
                    $('.com2-dropdown').dropdown('clear');
                    $('.com3-dropdown').dropdown('clear');
                    $('.suf-dropdown').dropdown('clear');
                });
                var prefixe = "";
                var com1 = "";
                var com2 = "";
                var com3 = "";
                var suffixe = "";
                $('.pre-dropdown').dropdown({
                    onChange: function (val) {
                        prefixe = val;
                        $('#medicament').text(prefixe+com1+com2+com3+suffixe);
                        var link = "/"+prefixe;
                        if(com1 != ""){
                            link += "/"+com1;
                        }
                        if(com2 != ""){
                            link += "/"+com2;
                        }
                        if(com3 != ""){
                            link += "/"+com3;
                        }
                        link += "/"+suffixe+"/";
                        if(prefixe == "" || suffixe == ""){
                            $('#link-fab').attr("href", "#");
                        }
                        else{
                            $('#link-fab').attr("href",link);
                        }

                    }
                });
                $('.com1-dropdown').dropdown({
                    onChange: function (val) {
                        com1 = val;
                        if(com1 == "none"){
                            com1 = "";
                        }
                        $('#medicament').text(prefixe+com1+com2+com3+suffixe);
                        var link = "/"+prefixe;
                        if(com1 != ""){
                            link += "/"+com1;
                        }
                        if(com2 != ""){
                            link += "/"+com2;
                        }
                        if(com3 != ""){
                            link += "/"+com3;
                        }
                        link += "/"+suffixe+"/";
                        if(prefixe == "" || suffixe == ""){
                            $('#link-fab').attr("href", "#");
                        }
                        else{
                            $('#link-fab').attr("href",link);
                        }
                    }
                });
                $('.com2-dropdown').dropdown({
                    onChange: function (val) {
                        com2 = val;
                        if(com2 == "none"){
                            com2 = "";
                        }
                        $('#medicament').text(prefixe+com1+com2+com3+suffixe);
                        var link = "/"+prefixe;
                        if(com1 != ""){
                            link += "/"+com1;
                        }
                        if(com2 != ""){
                            link += "/"+com2;
                        }
                        if(com3 != ""){
                            link += "/"+com3;
                        }
                        link += "/"+suffixe+"/";
                        if(prefixe == "" || suffixe == ""){
                            $('#link-fab').attr("href", "#");
                        }
                        else{
                            $('#link-fab').attr("href",link);
                        }
                    }
                });
                $('.com3-dropdown').dropdown({
                    onChange: function (val) {
                        com3 = val;
                        if(com3 == "none"){
                            com3 = "";
                        }
                        $('#medicament').text(prefixe+com1+com2+com3+suffixe);
                        var link = "/"+prefixe;
                        if(com1 != ""){
                            link += "/"+com1;
                        }
                        if(com2 != ""){
                            link += "/"+com2;
                        }
                        if(com3 != ""){
                            link += "/"+com3;
                        }
                        link += "/"+suffixe+"/";
                        if(prefixe == "" || suffixe == ""){
                            $('#link-fab').attr("href", "#");
                        }
                        else{
                            $('#link-fab').attr("href",link);
                        }
                    }
                });
                $('.suf-dropdown').dropdown({
                    onChange: function (val) {
                        suffixe = val;
                        $('#medicament').text(prefixe+com1+com2+com3+suffixe);
                        var link = "/"+prefixe;
                        if(com1 != ""){
                            link += "/"+com1;
                        }
                        if(com2 != ""){
                            link += "/"+com2;
                        }
                        if(com3 != ""){
                            link += "/"+com3;
                        }
                        link += "/"+suffixe+"/";
                        if(prefixe == "" || suffixe == ""){
                            $('#link-fab').attr("href", "#");
                        }
                        else{
                            $('#link-fab').attr("href",link);
                        }
                    }
                });

            </script>

        </div>
    </body>
</html>
