{% load staticfiles %}
<html>
    <head>
        <title>Pascal Optimus</title>
        <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/cosmo.bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="{% static 'semantic-ui/semantic.css' %}">

        <script src="{% static 'js/jquery.min.js' %}"></script>
        <script src="{% static 'js/highcharts.js' %}"></script>
        <script src="{% static 'js/highcharts-more.js' %}"></script>
        <script src="{% static 'js/exporting.js' %}"></script>
        <script src="{% static 'semantic-ui/semantic.min.js' %}"></script>

    </head>
    <body>
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button class="navbar-toggle collapsed" aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" type="button">
                        <span class="sr-only">
                            Navigation
                        </span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">
                        Pascal Optimus
                    </a>

                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="/generate/">Générer</a></li>
                        <li><a href="/top/">Top</a></li>
                        <li><a href="/compose/">Fabriquer</a></li>
                        <li><a href="/suggest/">Suggérer</a></li>
                    </ul>
                </div>

            </div>
        </nav>
        <div id="page">
            <div class="row header-detail">
                <div class="col-md-2">
                </div>
                <div class="col-md-7">
                    <h1><span>{{ nom_medicament }} <small>en {{ support }} </small></span>
                        <a href='/{{ seed }}/'>
                            <div class="btn btn-primary pull-right">
                                    <i class="heartbeat icon"></i> J'aime <span class="badge">{{ vote }}</span>
                            </div>
                        </a>
                    </h1>
                    <h4 class="header-seed">Seed: {{ seed }}</h4>

                </div>
            </div>
            <div class="col-md-2">

                <!-- Grid spacing -->
                {% with 'img/'|add:support_img|add:'.jpg' as img_static %}
                    <img src='{% static img_static %}' class='img-thumbnail img-detail'/>
                {% endwith %}
            </div>
            <div class="col-md-7">

                <div class="row">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Effets
                        </div>
                        <div class="panel-body">

                            {% if effets_PO %}
                            <div class="col-md-4">
                                <div class="panel panel-success">
                                  <div class="panel-heading">
                                    <h3 class="panel-title">Effets positifs</h3>
                                  </div>
                                  <div class="panel-body">
                                      {% for effect in effets_PO %}
                                          <div class=" effet-{{ effect.genre_effet }}"><i class="fa fa-chevron-right"></i> {{ effect.texte_effet }} </br></div>
                                      {% endfor %}
                                  </div>
                                </div>
                            </div>
                            {% endif %}

                            {% if effets_AL %}
                            <div class="col-md-4">
                                <div class="panel panel-warning">
                                  <div class="panel-heading">
                                    <h3 class="panel-title">Produits allergenes</h3>
                                  </div>
                                  <div class="panel-body">
                                      {% for effect in effets_AL %}
                                          <div class=" effet-{{ effect.genre_effet }}"><i class="fa fa-chevron-right"></i> {{ effect.texte_effet }} </br></div>
                                      {% endfor %}
                                  </div>
                                </div>
                            </div>
                            {% endif %}

                            {% if effets_IN %}
                            <div class="col-md-4">
                                <div class="panel panel-danger">
                                  <div class="panel-heading">
                                    <h3 class="panel-title">Attention!</h3>
                                  </div>
                                  <div class="panel-body">
                                      {% if effets_IN %}
                                          <h4 class="ei_title">Effets indésirables</h4>
                                          {% for effect in effets_IN %}
                                              <div class=" effet-{{ effect.genre_effet }}"><i class="fa fa-chevron-right"></i> {{ effect.texte_effet }} </br></div>
                                          {% endfor %}
                                      {% endif %}
                                      {% if effets_CA %}
                                          <h4 class="ca_title">Cancerigene</h4>
                                          {% for effect in effets_CA %}
                                              <div class=" effet-{{ effect.genre_effet }}"><i class="fa fa-chevron-right"></i> {{ effect.texte_effet }} </br></div>
                                          {% endfor %}
                                      {% endif %}
                                      {% if effets_MO %}
                                          <h4 class="mo_title">Mortel</h4>
                                          {% for effect in effets_MO %}
                                              <div class=" effet-{{ effect.genre_effet }}"><i class="fa fa-chevron-right"></i> {{ effect.texte_effet }} </br></div>
                                          {% endfor %}
                                      {% endif %}
                                  </div>
                                </div>
                            </div>
                            {% endif %}


                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-3 highcharts-container">
                <!-- Grid spacing -->
                <div id="test" style="min-width: 300px; max-width: 600px; height: 400px; margin: 0 auto"></div>
            </div>
        </div>
    </body>
</html>
<script>
$(function () {

    $('#test').highcharts({

        chart: {
            polar: true,
            type: 'line'
        },

        title: {
            text: 'Caractéristiques',
        },

        pane: {
            size: '80%'
        },

        xAxis: {
            categories: [{% for stat in stats %} '{{ stat.texte_statistique }}',{% endfor %}],
            tickmarkPlacement: 'on',
            lineWidth: 0
        },

        yAxis: {
            gridLineInterpolation: 'polygon',
            lineWidth: 0,
            min: 0
        },

        tooltip: {
            shared: true,
            pointFormat: '<span style="color:{series.color}">{series.name}: <b>{point.y:,.0f}</b><br/>'
        },

        legend: {
            enabled: false,
        },

        series: [{
            name: 'Valeur',
            data: [{% for stat in stats_num %} {{ stat }},{% endfor %}],
            pointPlacement: 'on'
        }],
        credits: {
            text: "Pascal Optimus",
            enabled: true,
            href: "/"
        },
        lang: {
            contextButtonTitle: "Menu du graphique",
            downloadJPEG: "Télécharger la version JPEG",
            downloadPDF: "Télécharger la version PDF",
            downloadPNG: "Télécharger la version PNG",
            downloadSVG: "Télécharger la version SVG",
            drillUpText: "Retour sur {series.name}",
            loading: "Préparation charismatique...",
            noData: "Pas d'info",
            printChart: "Imprimer le graphique",
            resetZoom: "Réinitialiser le zoom",
            resetZoomTitle: "Réinitialiser le zoom au niveau 1:1",
        }

    });
});
</script>
