{% load staticfiles %}
<html>
    <head>
        <title>Pascal Optimus</title>
        <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/cosmo.bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="{% static 'semantic-ui/semantic.css' %}">
        <script src="{% static 'js/jquery.min.js' %}"></script>
        <script src="{% static 'semantic-ui/semantic.min.js' %}"></script>
    </head>
    <body>
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button class="navbar-toggle collapsed" aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" type="button">
                        <span class="sr-only">
                            Navigation
                        </span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">
                        Pascal Optimus
                    </a>
                    <ul class="nav navbar-nav">
                        <li><a href="/generate/">Générer</a></li>
                        <li><a href="/top/">Top</a></li>
                        <li><a href="/compose/">Fabriquer</a></li>
                        <li><a href="/suggest/">Suggérer</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div id="page">
            <div class="row">
                <div class='col-md-2'></div>
                <div class="col-md-7">
                    <div class="col-md-12">
                        <div class="jumbotron">
                            <h1>Pascal Optimus <i class="icon doctor"></i></h1>
                            <p>Un générateur de médicament au poil!</p>
                            <p><a href="generate/" class="btn btn-success btn-lg"><i class="fa fa-magic"></i> Générer un médicament</a></p>
                        </div>
                        <p>
                            Nombre d'effets : {{ nb_effects }} </br>
                            Nombre de composants : {{ nb_compo }}</br>
                            Nombre de statistiques : {{ nb_stat }}</br>
                            Nombre de suggestion en attente de validation : {{ su_num }}</br>
                            Nombre de combinaisons possibles : {{ nb_combinaisons }} médicaments
                        </p>
                    </div>
                </div>
                <div class="col-md-3">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Texte</th>
                                <th>Type</th>
                                <th>Forme</th>
                                <th>Effets</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for compo in compos %}
                                <tr>
                                    <td>{{ compo.texte_composant }}</td>
                                    <td>{{ compo.type_composant }}</td>
                                    <td>{{ compo.forme_composant }}</td>
                                    <td>
                                        {% for effect in compo.effets_composant.all %}
                                            <div class=" effet-{{ effect.genre_effet }}"><i class="fa fa-chevron-right"></i> {{ effect.texte_effet }} </br></div>
                                        {% endfor %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Texte</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for effet in effets %}
                                <tr>
                                    <td class=" effet-{{ effet.genre_effet }}">{{ effet.texte_effet }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </body>
</html>
