{% load staticfiles %}
<html>
    <head>
        <title>Pascal Optimus</title>
        <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/cosmo.bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="{% static 'semantic-ui/semantic.css' %}">
        <script src="{% static 'js/jquery.min.js' %}"></script>
        <script src="{% static 'semantic-ui/semantic.min.js' %}"></script>
    </head>
    <body>
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button class="navbar-toggle collapsed" aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" type="button">
                        <span class="sr-only">
                            Navigation
                        </span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">
                        Pascal Optimus
                    </a>
                    <ul class="nav navbar-nav">
                        <li><a href="/generate/">Générer</a></li>
                        <li><a href="/top/">Top</a></li>
                        <li><a href="/compose/">Fabriquer</a></li>
                        <li><a href="/suggest/">Suggérer</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div id="page">
            <div class="col-md-2">

            </div>
            <div class="col-md-7">
                <div class="col-md-3">

                </div>
                <div class="col-md-6">
                    <div class="page-header">
                      <h1>Suggestion <small>Pour rendre le monde meilleur</small></h1>
                    </div>
                    <div class="ui top attached tabular menu">
                        <a class="item active" data-tab="first">Effet</a>
                        <a class="item" data-tab="second">Composant</a>
                        <a class="item" data-tab="third">Statistique</a>
                        </div>
                        <div class="ui bottom attached tab segment active" data-tab="first">
                            <form action="/thanks/" method="post" class="ui large-form">
                                {% csrf_token %}
                                <input class="hidden" name="form" value="effet">
                                <div class="ui stacked-segment">
                                    <div class="ui form">
                                        <div class="field">
                                            <label>Texte de l'effet</label>
                                            <input type="text" name="effect_text" placeholder="ex: Range ta chambre." required>
                                        </div>
                                        <div class="field">
                                            <label>Genre de l'effet</label>
                                            <select name="effect_genre" class="ui dropdown" required>
                                              {% for genre in genres %}
                                              <option value="{{ genre.0 }}">
                                                  {{ genre.1 }}
                                              </option>
                                              {% endfor %}
                                            </select>
                                        </div>
                                        <div style="text-align:right !important">
                                            <button class="ui submit button basic orange right labeled icon" type="submit"><i class="checkmark icon"></i>Valider</button>
                                        </div>

                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="ui bottom attached tab segment" data-tab="second">
                            <form action="/thanks/" method="post" class="ui large-form">
                                {% csrf_token %}
                                <input class="hidden" name="form" value="composant">
                                <div class="ui stacked-segment">
                                    <div class="ui form">
                                        <div class="inline fields">
                                            <label for="fruit">Type du composant</label>
                                            <div class="field">
                                              <div class="ui radio checkbox">
                                                <input class="hidden" tabindex="0" name="type" checked="" type="radio" value="PR">
                                                <label>Préfixe-</label>
                                              </div>
                                            </div>
                                            <div class="field">
                                              <div class="ui radio checkbox">
                                                <input class="hidden" tabindex="0" name="type" type="radio" value="CO">
                                                <label>-composant-</label>
                                              </div>
                                            </div>
                                            <div class="field">
                                              <div class="ui radio checkbox">
                                                <input class="hidden" tabindex="0" name="type" type="radio" value="SU">
                                                <label>-suffixe</label>
                                              </div>
                                            </div>
                                          </div>
                                        <div class="field">
                                            <label>Texte du composant</label>
                                            <input type="text" name="composant_text" placeholder="ex: bra">
                                        </div>

                                        <div class="field">
                                            <label>Forme du médicament</label>
                                            <select name="composant_form" class="ui dropdown">
                                              {% for forme in formes %}
                                              <option value="{{ forme.pk }}">
                                                  {{ forme.texte_forme_composant }}
                                              </option>
                                              {% endfor %}
                                            </select>
                                        </div>

                                        <div class="ui multiple dropdown">
                                            <input name="filters" type="hidden">
                                            <i class="plus icon"></i>
                                            <span class="text">Choix des effets</span>
                                            <div class="menu">
                                                <div class="ui icon search input">
                                                  <i class="search icon"></i>
                                                  <input placeholder="Ajout d'effets" type="text">
                                                </div>
                                                <div class="divider"></div>
                                                <div class="header">
                                                  <i class="treatment icon"></i>
                                                  Effets
                                                </div>
                                                <div class="scrolling menu">
                                                    {% for effet in effets %}
                                                        <div class="item" data-value="{{ effet.pk }}">
                                                            {% if effet.genre_effet == "PO" %}
                                                                <div class="ui green empty circular label"></div>
                                                            {% endif %}
                                                            {% if effet.genre_effet == "IN" %}
                                                                <div class="ui red empty circular label"></div>
                                                            {% endif %}
                                                            {% if effet.genre_effet == "CA" %}
                                                                <div class="ui purple empty circular label"></div>
                                                            {% endif %}
                                                            {% if effet.genre_effet == "MO" %}
                                                                <div class="ui black empty circular label"></div>
                                                            {% endif %}
                                                            {% if effet.genre_effet == "AL" %}
                                                                <div class="ui orange empty circular label"></div>
                                                            {% endif %}
                                                            {{ effet.texte_effet }}
                                                        </div>
                                                    {% endfor %}
                                                    <div class="item" data-value="important">
                                                        <div class="ui red empty circular label"></div>
                                                        Important
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div style="text-align:right !important">
                                            <button class="ui submit button basic orange right labeled icon" type="submit"><i class="checkmark icon"></i>Valider</button>
                                        </div>

                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="ui bottom attached tab segment" data-tab="third">
                            <form action="/thanks/" method="post" class="ui form" >
                                {% csrf_token %}
                                <input class="hidden" name="form" value="statistique">
                                <div class="field">
                                    <label>Statistique</label>
                                    <input name="first-name" placeholder="ex: Douceur" type="text">
                                </div>
                                <div style="text-align:right !important">
                                    <button class="ui submit button basic orange right labeled icon" type="submit"><i class="checkmark icon"></i>Valider</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="header">
                    <h1 id="medicament"></h1>
                </div>
            </div>

            <script type="text/javascript" charset="utf-8">
                $(document).ready(function (){
                    // Reset form
                    /*
                    $('.pre-dropdown').dropdown('clear');
                    $('.com1-dropdown').dropdown('clear');
                    $('.com2-dropdown').dropdown('clear');
                    $('.com3-dropdown').dropdown('clear');
                    $('.suf-dropdown').dropdown('clear');
                    */
                    $('.menu .item').tab();
                    $('select.dropdown').dropdown();
                    $('.ui.radio.checkbox').checkbox();
                    $('.multiple').dropdown();
                });
            </script>

        </div>
    </body>
</html>
