{% load staticfiles %}
<html>
    <head>
        <title>Pascal Optimus</title>
        <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/cosmo.bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="{% static 'semantic-ui/semantic.css' %}">
        <script src="{% static 'js/jquery.min.js' %}"></script>
        <script src="{% static 'semantic-ui/semantic.min.js' %}"></script>
    </head>
    <body>
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button class="navbar-toggle collapsed" aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" type="button">
                        <span class="sr-only">
                            Navigation
                        </span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">
                        Pascal Optimus
                    </a>
                    <ul class="nav navbar-nav">
                        <li><a href="/generate/">Générer</a></li>
                        <li><a href="/top/">Top</a></li>
                        <li><a href="/compose/">Fabriquer</a></li>
                        <li><a href="/suggest/">Suggérer</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div id="page">
            <div class="row">
                <div class='col-md-2'></div>
                <div class="col-md-7">
                    <div class="col-md-12">
                        {% if mode == 'effet' %}
                        <div class="jumbotron">
                            <h2>Votre suggestion d'effet à été prise en compte !</h2>
                            <p>Effet : {{ effet_text }}</p>
                            <p>Genre d'effet :
                                {% if effet_genre == 'PO' %}
                                Positif
                                {% elif effet_genre == 'CA' %}
                                Cancerigene
                                {% elif effet_genre == 'IN' %}
                                Indésirable
                                {% elif effet_genre == 'AL' %}
                                Allergène
                                {% elif effet_genre == 'MO' %}
                                Mortel
                                {% else %}
                                Tricheur !
                                {% endif %}
                            </p>
                        </div>
                        {% elif mode == 'composant' %}
                        <div class="jumbotron">
                            <h2>Votre suggestion de composant à été prise en compte !</h2>
                            <p>Texte : {{ texte_composant }}</p>
                            <p>Effets :</p>
                            <ul>
                                {% for k in text_effets %}
                                    <li> {{ k }}</li>
                                {% endfor %}
                            </ul>
                            <p>Type :
                                {% if type_composant == 'CO' %}
                                Complément
                                {% elif type_composant == 'PR' %}
                                Préfixe
                                {% elif type_composant == 'SU' %}
                                Suffixe
                                {% else %}
                                Tricheur !
                                {% endif %}
                            </p>
                            <p>Forme : {{ forme_composant }}</p>

                        </div>
                        {% elif mode == 'statistique' %}
                        <div class="jumbotron">
                            <h2>Votre suggestion de statistique à été prise en compte !</h2>
                            <p>Texte : {{ texte_statistique }}</p>
                        {% endif %}

                    </div>
                </div>
                <div class="col-md-3">
                </div>
            </div>
        </div>

</div>


</div>
</body>
</html>
