{% load staticfiles %}
<html>
    <head>
        <title>Pascal Optimus</title>
        <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/cosmo.bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="{% static 'semantic-ui/semantic.css' %}">
        <script src="{% static 'js/jquery.min.js' %}"></script>
        <script src="{% static 'semantic-ui/semantic.min.js' %}"></script>
    </head>
    <body>
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button class="navbar-toggle collapsed" aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" type="button">
                        <span class="sr-only">
                            Navigation
                        </span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">
                        Pascal Optimus
                    </a>
                    <ul class="nav navbar-nav">
                        <li><a href="/generate/">Générer</a></li>
                        <li><a href="/top/">Top</a></li>
                        <li><a href="/compose/">Fabriquer</a></li>
                        <li><a href="/suggest/">Suggérer</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div id="page">
            <div class="row">
                <div class='col-md-3'></div>
                <div class="col-md-6">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Médicament</th>
                                <th class='top_votes'>Votes</th>
                            </tr>
                        </thead>
                        <tbody class='top_ranking'>
                            <tr class='top_first'>
                                <td class='top_tdfirst'>
                                    <a href='/{{ first.path }}'>
                                        {{ first.nom }}
                                    </a>
                                </td>
                                <td class='top_tdfirst top_votes'>
                                    {{ first.votes }}
                                </td>
                            </tr>
                            <tr class='top_second'>
                                <td class='top_tdsecond'>
                                    <a href='/{{ second.path }}'>
                                        {{ second.nom }}
                                    </a>
                                </td>
                                <td class='top_tdsecond top_votes'>
                                    {{ second.votes }}
                                </td>
                            </tr>
                            <tr class='top_third'>
                                <td class='top_tdthird'>
                                    <a href='/{{ third.path }}'>
                                        {{ third.nom }}
                                    </a>
                                </td>
                                <td class='top_tdthird top_votes'>
                                    {{ third.votes }}
                                </td>
                            </tr>
                            {% for medoc in medocs %}
                                <tr>
                                    <td>
                                        <a href='/{{ medoc.path }}'>
                                            {{ medoc.nom }}
                                        </a>
                                    </td>
                                    <td class="top_votes">
                                        {{ medoc.votes }}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                </div>
                <div class="col-md-3">

                </div>
            </div>
        </div>
    </body>
</html>
