@keyframes fail_car{
    from{
        margin-left:0;
        opacity:1;
        color:red;
    }
    10%{
        color:blue;
    }
    20%{
        color:red;
    }
    30%{
        color:blue;
    }
    40%{
        color:red;
    }
    50%{
        color:blue;
    }
    60%{
        color:red;
    }
    70%{
        color:blue;
    }
    80%{
        color:red;
    }
    90%{
        color:blue;
    }
    to{
        margin-left:350px;
        opacity:0;
        color:red;
    }
}

#page{
    margin-top:70px;
}

.effet-PO{
    color:green;
}

.effet-AL{
    color:orange;
}

.effet-MO{
    color:red;
}

.effet-IN{
    color:firebrick;
}

.effet-CA{
    color:purple;
}

.ambulance{
    transform:rotatey(180deg);
    animation: fail_car 3s linear;
    margin-left:350px;
    opacity:0;
    color:red;
}

.ei_title{
    color:firebrick;
    margin-top:0;
}

.ca_title{
    color:purple;
}

.mo_title{
    color:red;
}

.header-detail{
    margin-bottom:15px;
}

.header-seed{
    margin:0 !important;
}

div.btn a{
    color:white !important;
}

div.btn a:hover{
    text-decoration:none;
}

.top_first{
    background-color:#FFCC33 !important;
    height:70px;
    vertical-align: middle;
    font-size: 25;
    font-weight: bold;
}

.top_second{
    background-color:#CCCCCC !important;
    height:60px;
    font-size: 22;
    font-weight:bold;
}

.top_third{
    background-color:#CC9966 !important;
    height:50px;
    font-size: 18;
    font-weight:bold;
}

.top_tdfirst, .top_tdsecond, .top_tdthird{
    vertical-align: middle !important;
}

.top_ranking a{
    text-decoration: none !important;
    color:black;
}

.top_ranking a:hover{
    font-weight:bolder;
}

.top_votes{
    text-align:right !important;
}

.field{
    margin: 0em 0em 1em;
}

.page-header{
    margin-top:0;
}

.btn-fabrique{
    margin:0 !important;
}

.effet_PO{
    background-color:green;
}
